
<div id="schadenform-wrapper" data-hasMechanics="{{ data.has_mechanics }}" style="max-width:600px" ui-view></div>

<script type="text/javascript">
  var base_url = '{{ data.base_url }}';
  var plugin_base = '{{ data.module_path }}/libraries/';
</script>
